# pip install -r requirements.txt

# Django---------------------
Django
djangorestframework
django-cors-headers

# posenet--------------------
tensorflow==2.12.0
numpy
scipy
pyyaml
opencv-python

# STT&TTS-------------------
pyttsx3
SpeechRecognition
pyaudio

# GUI-------------------------
Pyqt5